In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("/Users/takayuki/Document/career/nagoyaU/corona/報道発表_csv/4月/20200401.csv", header=16)
# df.head()

In [2]:
# modify format of the table into column1=name, column2=number 
df = df.T
_df = df[0]
for i in df.columns:
  if i%2 == 1:
    df2 = df[i+1]
    df2.index = df[i].values
    _df = pd.concat([_df, df2])
_df = _df.reset_index()
df1 = _df.T
df1.columns = _df['index']
df1 = df1[df1.index==0]
df_t = df1.T
df_t

         0
index
千代田      3
中央      19
港       39
新宿      22
文京       4
...    ...
小笠原      0
都外      20
調査中※   116
NaN    NaN
NaN    NaN

[66 rows x 1 columns]

In [ ]:
# save as csv
df_t.to_csv('test.csv')